---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
---

<Layout>
    <Nav />
    <h1>Blog</h1>
    <p>Esta es la pagina principal del blog</p>
    <a href="/src/posts/post1/">post1</a>
</Layout>