---
import Layout from "../layouts/Layout.astro";
---

<div id="container">
    <nav>
		<a href="/">Inicio</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>
	</nav>
</div>

<style>

</style>